body {
    color:#a6a6a6;
    background-color: #222222 ;
}

div {
    display:inline-block;
}

.current-med-blue {
    width: 5.64px;
    height: 18.28px;
    background-color: #0e76bd;
}

.current-salmon {
    width: 5.64px;
    height: 18.28px;
    background-color: #e45735;
}

.current-plum {
    width: 5.64px;
    height: 18.28px;
    background-color: #92278f;
}

.current-lime {
    width: 5.64px;
    height: 18.28px;
    background-color: #9eb83b;
}

.current-orange {
    width: 5.64px;
    height: 18.28px;
    background-color: #F1592A;
}

.current-dark-teal {
    width: 5.64px;
    height: 18.28px;
    background-color: #12A89D;
}

.current-green {
    width: 5.64px;
    height: 18.28px;
    background-color: #3ab54a;
}

.current-light-orange {
    width: 5.64px;
    height: 18.28px;
    background-color: #F7941D;
}

.current-light-blue {
    width: 5.64px;
    height: 18.28px;
    background-color: #25aae2;
}

.current-indigo {
    width: 5.64px;
    height: 18.28px;
    background-color: #283890;
}

.current-gray {
    width: 5.64px;
    height: 18.28px;
    background-color: #808281;
}

.current-light-gray {
    width: 5.64px;
    height: 18.28px;
    background-color: #b3b5b4;
}

.current-dark-purple {
    width: 5.64px;
    height: 18.28px;
    background-color: #652d90;
}

.current-red {
    width: 5.64px;
    height: 18.28px;
    background-color: #bf1e2e;
}



.indigo-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #332288;
}

.cyan-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #88CCEE;
}

.teal-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #44AA99;
}

.green-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #117733;
}

.olive-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #999933;
}

.sand-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #DDCC77;
}

.rose-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #cc6677;
}

.wine-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #882255;
}

.purple-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #AA4499;
}

.pale-gray-block {
    width: 5.64px;
    height: 18.28px;
    background-color: #DDDDDD;
}




